*, root {
    display: flex;
    justify-content: center;
    font-family: Arial, serif;

    /*variables*/
    --borderColor: red;
    --borderWidth: 1px;

    --minBodyWidth: 60vw;
    --cardTextPadding: 1rem;
}


body {
    flex-direction: column;
}

footer {
}

.navigation {
    min-width: var(--minBodyWidth);
    flex-wrap: wrap;
}

.nav-element {
    display: block;
    padding: 1rem;
}

.projects {
    min-height: 100vh;
}

.project-table {
    flex-wrap: wrap;
}

.card {
    background-color: #000;
    flex-direction: column;
    min-height: 8rem;
    max-height: 16rem;
    min-width: 24rem;
    max-width: 48rem;
    border-radius: 10px;

    margin: 1rem;
    border: var(--borderWidth) solid var(--borderColor);
}
.card-image {
    max-height: 500px;
    max-width: 900px;
    justify-content: center;
    align-content: center;
    overflow: clip;
    border-radius: inherit;
}

.card-title {
    justify-content: left;
    color: white;
    margin: 0;
    padding: var(--cardTextPadding);
}

.card-description {
    margin: 0;
    padding: var(--cardTextPadding);
    padding-top: 0;
    max-width: 65ch;
    color: white;

}