*, root {
    display: flex;
    justify-content: center;
    font-family: Arial, serif;
    padding: 0;
    margin: 0;

    /*variables*/
    --borderColor: red;
    --borderWidth: 1px;

    --minBodyWidth: 75vw;
    --cardTextPadding: 1rem;
}

body {
    flex-direction: column;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

footer {
    justify-content: center;
    align-content: center;
}

.navigation {
    min-width: var(--minBodyWidth);
    flex-wrap: wrap;
}

.nav-element {
    display: block;
}

.name, .title {
    font-size: xx-large;
}

.name {
    justify-content: left;
}

.title {
    justify-content: left;
}

.heading {
    justify-content: left;
    font-size: xx-large;
}

.project-table {
    flex-wrap: wrap;
}

.card {
    flex-direction: column;
    min-height: 8rem;
    max-height: 16rem;
    min-width: 24rem;
    max-width: 48rem;
    border: 1px solid black;
}

.card-image {
    max-height: 500px;
    max-width: 900px;
    justify-content: center;
    align-content: center;
    overflow: clip;
    border-radius: inherit;
}

.card-title {
    justify-content: left;
    padding: var(--cardTextPadding);

}

.card-description {
    padding: var(--cardTextPadding);
    padding-top: 0;
    max-width: 65ch;

}

.education {
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.education-content {
    display: block;
    flex-direction: column;
}

.school-title {
    display: block;
}

.degree-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coursework-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.relevant-coursework {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.course {
    display: block;
    padding-left: 1rem;
}

.horizontal-rule {
    position: absolute;
    max-width: var(--minBodyWidth);
    border: lightgrey solid 1px;
    opacity: 70%;
    height: 200vh;
    z-index: -1;
    overflow: hidden;
}

/*--------------------*/
.experience {
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.experience-content {
    display: block;
    flex-direction: column;
    justify-content: left;
}

.experience-company {
    display: block;
    font-size: x-large;
}

.experience-title-time {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.experience-data {
    justify-content: left;
    font-size: large;
}

.experience-small-description {
    max-width: 85ch;
}


.contact {
    display: flex;
    justify-content: left;
    max-width: var(--minBodyWidth);

}

.rule1 {
    display: flex;
    position: absolute;
    margin-left: calc(var(--minBodyWidth) / 2);
}

.rule2 {
    margin-left: var(--minBodyWidth);
}
